{% extends ajax ? "desktop/default/empty.html" : "desktop/default/layout.html.twig" %}

{% block content %}

<h1>{{ content.title }}</h1>
Blog
<ul>
{% for article in content.data %}
	<li>
		<a href="{{ root_web ~ article.path }}">
			{{ article.title }}
		</a>
	</li>
{% endfor %}
</ul>

{% endblock %}