*.zip
.DS_Store

builder/node_modules
builder/.sass-cache

misc

site/vendor
site/composer.lock
site/composer.phar

site/dev/assets/css
site/dev/assets/js
site/dev/assets/img/sprite
site/dev/assets/favicons

site/dev/assets/medias/**/*.png
site/dev/assets/medias/**/*.jpg
site/dev/assets/medias/**/*.jpeg
site/dev/assets/medias/**/*.svg
site/dev/assets/medias/**/*.gif