.button {
    padding: 6px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #d9534f;
    background-image: none;
    color: #fff;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42857143;
    cursor: pointer;
}

