html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts//OpenSans-Bold.eot');
  src: url('../fonts//OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts//OpenSans-Bold.svg') format('svg'), url('../fonts//OpenSans-Bold.woff') format('woff'), url('../fonts//OpenSans-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts//OpenSans-Regular.eot');
  src: url('../fonts//OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts//OpenSans-Regular.svg') format('svg'), url('../fonts//OpenSans-Regular.woff') format('woff'), url('../fonts//OpenSans-Regular.ttf') format('truetype');
  font-weight: 700;
  font-style: normal; }

.no-transition {
  transition: all 0ms cubic-bezier(0.25, 0.25, 0.75, 0.75) 0ms !important; }
  .no-transition * {
    transition: all 0ms cubic-bezier(0.25, 0.25, 0.75, 0.75) 0ms !important; }

body {
  background: #F7F7F7;
  font: 400 13px/23px 'Open Sans', 'Helvetica', sans-serif; }

.ajaxContainer {
  overflow: hidden;
  position: relative;
  padding: 100px 0; }

a {
  color: #000000; }
  a:hover, a:active {
    border-bottom: 1px solid #000000; }

.center {
  position: relative;
  width: 960px;
  margin: 0 auto; }

.main-header {
  margin: 20px; }
  .main-header ul {
    text-align: right; }
  .main-header li {
    display: inline;
    margin-right: 10px; }

