

<header>
	<ul>
		<li><a href="{{ root_web ~ lang }}">home</a></li>
		<li><a href="{{ root_web ~ lang ~ '/works' }}">works</a></li>
		<li><a href="{{ root_web ~ lang ~ '/blog' }}">blog</a></li>
		<li><a href="{{ root_web ~ lang ~ '/about' }}">about</a></li>
	</ul>
</header>