#part-home {

	overflow:hidden;
	background:$grey-white * 0.873;
		
	#morph {
		position:relative;
		z-index:1;
	}

	.items-container,
	.screen {
		position:absolute;
		top:0;
		left:0;
		height:100%;
		width:100%;
		z-index:2;
	}

	h2 {
		font:700 160px/150px $font-family;
		color:$yellow;
		position:absolute;
		top:50%;
		left:0;
		width:100%;
		text-align:center;

		sub {
			display:block;
			font-size:20px;
			line-height:24px;
			margin-top:10px;
		}
	}

	h3 {
		font:600 14px/18px $font-family;
		text-transform:none;
		letter-spacing:0;
		position:absolute;
		top:50%;
		left:50%;

		&:before {
			content:'';
			height:1px;
			width:30px;
			background:$black;
			position:absolute;
			bottom:5px;
			left:-40px;
		}
	}

	h4 {
		font:400 20px/24px $font-text;
		text-transform:none;
		width:780px;
		text-align:center;
		position:absolute;
		top:50%;
		left:50%;
		margin:-100px 0 0 -390px;
	}

	.links {
		width:780px;
		position:absolute;
		top:50%;
		left:50%;
		margin:40px 0 0 -390px;
		text-align:center;

		a {
			display:inline-block;
			font:700 13px/16px $font-family;
			color:$black;
			border:2px solid $black;
			padding:22px 50px 20px 52px;
			margin:0 7px;
		}
	}

	nav {
		position:absolute;
		top:50%;
		right:30px;

		li {
			height:12px;
			width:12px;
			background:$white;
			border-radius:12px;
			margin-bottom:15px;

			&:nth-child(2) {
				margin-left:20px;
				background:$yellow;
				//@include rotate(180deg);
				@include transform-origin(-4px -7.7px);
			}
		}
	}

	.screen-1 {
		display:none;

		h2 {
			margin-top:-140px;
		}
		h3 {
			margin:190px 0 0 290px;
		}
	}

	.screen-2 {
		display:none;

		h2 {
			margin-top:-92px;
		}

		h3 {
			margin:190px 0 0 -500px;
		}
	}

	

}