<!DOCTYPE html>
<head>
    <title>{{ title }}</title>
</head>

<body>
<!-- This is a template for ajax call, don't refer to it -->
<div class="ajaxContainer" id="part-{{ route.view }}">
{% block content %}{% endblock %}
</div>

</body>
</html>
