<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html><!--<![endif]-->
<head>
	{{ include('desktop/partials/head.html.twig') }}
</head>

{{ include('desktop/partials/header.html.twig') }}

<div class="ajaxContainer" id="part-{{ route.view }}">
{% block content %}{% endblock %}
</div>

{{ include('desktop/partials/foot.html.twig') }}
