// -------------------------o Imports fonts

$fontPath : '../fonts/';

@include importFont('Open Sans', 'OpenSans-Bold', 400, normal, $fontPath);
@include importFont('Open Sans', 'OpenSans-Regular', 700, normal, $fontPath);

$font-family: 'Open Sans', 'Helvetica', sans-serif;
$font-text: 'Open Sans', 'Times', serif;


// -------------------------o Imports colors

// --> Colors start

// @part Primary Colors
$white 				: #FFFFFF;
$black 				: #000000;

$grey-white			: #F7F7F7;


// @part Template Colors
$bg-color 			: $grey-white;

// --> Colors end

